<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{user/layouts/layout-user :: layout(~{::main})}">
<body>

<main id="main" class="main">


    <div class="pagetitle">
        <h1>메인보드</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">메인관리</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">
            <h5>여기에 메인 화면 구성할 예정</h5>
        </div>
    </section>

</main>
</body>
</html>
