<!-- user/fragments/fragment-sidebar.html -->
<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/member/dashboard}" th:classappend="${pageName != 'Dashboard'} ? 'collapsed'">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/member/mypage}" th:classappend="${pageName != 'My Page'} ? 'collapsed'">
                <i class="bi bi-person"></i>
                <span>My Page</span>
            </a>
        </li>

        <li class="nav-heading">Warehouse Features</li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/member/product-register}" th:classappend="${pageName != 'Product Registration'} ? 'collapsed'">
                <i class="bi bi-box"></i><span>Product Registration</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/member/inbound-request}" th:classappend="${pageName != 'Inbound Request'} ? 'collapsed'">
                <i class="bi bi-box-arrow-in-down"></i><span>Inbound Request</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/member/outbound-request}" th:classappend="${pageName != 'Outbound Request'} ? 'collapsed'">
                <i class="bi bi-box-arrow-up"></i><span>Outbound Request</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/member/history}" th:classappend="${pageName != 'Transaction History'} ? 'collapsed'">
                <i class="bi bi-clock-history"></i><span>Transaction History</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/member/stock}" th:classappend="${pageName != 'Stock Status'} ? 'collapsed'">
                <i class="bi bi-box-seam"></i><span>Stock Status</span>
            </a>
        </li>

    </ul>

</aside>
