<!-- admin/fragments/fragment-sidebar.html -->
<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}" th:classappend="${pageName != 'Dashboard'} ? 'collapsed'">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">Management Menu</li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/users}" th:classappend="${pageName != 'User Management'} ? 'collapsed'">
                <i class="bi bi-people"></i><span>User Management</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/inbound}" th:classappend="${pageName != 'Inbound Management'} ? 'collapsed'">
                <i class="bi bi-box-arrow-in-down"></i><span>Inbound Management</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/outbound}" th:classappend="${pageName != 'Outbound Management'} ? 'collapsed'">
                <i class="bi bi-box-arrow-up"></i><span>Outbound Management</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/warehouse}" th:classappend="${pageName != 'Warehouse Management'} ? 'collapsed'">
                <i class="bi bi-building"></i><span>Warehouse Management</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/inventory}" th:classappend="${pageName != 'Inventory Management'} ? 'collapsed'">
                <i class="bi bi-box-seam"></i><span>Inventory Management</span>
            </a>
        </li>

    </ul>

</aside>
