<!-- admin/fragments/fragment-sidebar.html -->
<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}" th:classappend="${pageName != 'Dashboard'} ? 'collapsed'">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">관리 메뉴</li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/member}" th:classappend="${pageName != '회원관리'} ? 'collapsed'">
                <i class="bi bi-people"></i><span>회원관리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/inbound}" th:classappend="${pageName != '입고관리'} ? 'collapsed'">
                <i class="bi bi-box-arrow-in-down"></i><span>입고관리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/outbound}" th:classappend="${pageName != '출고관리'} ? 'collapsed'">
                <i class="bi bi-box-arrow-up"></i><span>출고관리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/warehouse}" th:classappend="${pageName != '창고관리'} ? 'collapsed'">
                <i class="bi bi-building"></i><span>창고관리</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/admin/inventory}" th:classappend="${pageName != '재고관리'} ? 'collapsed'">
                <i class="bi bi-box-seam"></i><span>재고관리</span>
            </a>
        </li>

    </ul>

</aside>
