<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section class="section" th:fragment="datatable(table)">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${table?.name ?: '재고 목록'}">재고 목록</h5>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped" th:id="${table?.name ?: 'default-table'}">
                        <thead>
                        <tr>
                            <th>제품명</th>
                            <th>수량</th>
                            <th>위치</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>김치</td>
                            <td>30</td>
                            <td>A-1</td>
                        </tr>
                        <tr>
                            <td>된장</td>
                            <td>20</td>
                            <td>B-3</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
