<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layouts/layout-admin :: layout(~{::main})}">
<body>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>재고관리</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">재고관리</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">
    <div class="row">
      <h5>여기에 재고 관리 화면 구성할 예정</h5>
    </div>
  </section>

</main>
</body>
</html>
