<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layouts/layout-admin :: layout(~{::main})}">

<body>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>창고관리</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">창고관리</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">
    <div class="row">
      <h5>창고 목록(남은공간 확인)</h5>

<!--      검색창-->
      <form th:action="@{/admin/warehouse/search-address}" method="get" class="row g-2 align-items-center mb-3">
        <div class="col-auto">
          <input type="text" name="address" class="form-control" placeholder="주소로 검색" required>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-primary">검색</button>
        </div>
      </form>
      <!-- 창고 리스트 테이블 -->
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-light">
            <tr>
              <th>번호</th>
              <th>창고 이름</th>
              <th>창고 남은 공간 (㎡)</th>
              <th>창고 주소</th>
              <th>고정 지출 금액</th>
              <th>체크박스</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warehouse, stat : ${warehouseList}">
              <td th:text="${warehouse.warehouseId}">1</td>
              <td th:text="${warehouse.warehouseName}">창고 A</td>
              <td th:text="${warehouse.warehouseSpaceRemain}">500</td>
              <td th:text="${warehouse.warehouseAddress}">서울특별시...</td>
              <td th:text="${#numbers.formatInteger(warehouse.warehouseAmount, 3, 'COMMA')} + '만원'">100,000원</td>
              <td>
                <input type="radio" name="selectedWarehouse" th:value="${warehouse.warehouseId}" onclick="populateUpdateModal(this)">
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(warehouseList)}">
              <td colspan="5">등록된 창고가 없습니다.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>