<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chilluminati.chillstock.admin.inbound.repository.AdminInboundRepository">
    <!-- 목록 조회 -->
    <select id="selectInboundList" resultType="com.chilluminati.chillstock.admin.inbound.vo.AdminInboundRequestVO">
        select  i.inbound_id AS inboundId,
        i.inbound_request_date AS inboundRequestDate,
        i.inbound_status AS inboundStatus,
        i.inbound_amount AS inboundAmount,
        i.reject_reason_message AS rejectReasonMessage,
        p.product_name AS productName,
        b.business_id AS businessId
        from inbound_table i
        join product p on i.product_id = p.product_id
        join business_table b on p.business_id = b.business_id
        <where>
            <if test="status != null and status != ''">
                i.inbound_status = #{status}
            </if>
        </where>
        ORDER BY i.inbound_request_date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    <!-- 목록 개수 조회 -->
    <select id="countInbound" resultType="int">
        select count(*)
        from inbound_table
        <where>
            <if test="status != null and status != ''">
             inbound_status = #{status}
        </if>
        </where>
    </select>

    <!-- 입고 승인 처리 (상태, 날짜, 관리자ID) -->
    <update id="approveInboundList">
        UPDATE inbound_table
        SET
        inbound_status = '승인',
        inbound_date = NOW(),
        admin_id = #{adminId}
        WHERE inbound_id IN
        <foreach collection="inboundIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>




    <!-- 재고 조회 (제품ID + 구역ID) -->
    <select id="findStockByProductAndArea" resultType="com.chilluminati.chillstock.admin.inbound.vo.StockVO">
        SELECT
            stock_id AS stockId,
            stock_amount AS stockAmount,
            product_id AS productId,
            area_id AS areaId
        FROM stock_table
        WHERE product_id = #{productId}
          AND area_id = #{areaId}
    </select>

    <!-- 재고 추가 (INSERT) -->
    <insert id="insertStock">
        INSERT INTO stock_table (product_id, area_id, stock_amount)
        VALUES (#{productId}, #{areaId}, #{amount})
    </insert>

    <!-- 재고 업데이트 (UPDATE) -->
    <update id="updateStock">
        UPDATE stock_table
        SET stock_amount = stock_amount + #{amount}
        WHERE stock_id = #{stockId}
    </update>

    <!--  입고 요청 1건 조회 -->
    <select id="findInboundById" resultType="com.chilluminati.chillstock.admin.inbound.vo.AdminInboundRequestVO">
        SELECT
            inbound_id AS inboundId,
            inbound_request_date AS inboundRequestDate,
            inbound_status AS inboundStatus,
            inbound_amount AS inboundAmount,
            product_id AS productId,
            reject_reason_message AS rejectReasonMessage
        FROM inbound_table
        WHERE inbound_id = #{inboundId}
        FOR UPDATE
    </select>

    <!--  제품 정보 조회 -->
    <select id="findProductById" resultType="com.chilluminati.chillstock.admin.inbound.vo.AdminProductVO">
        SELECT
            product_id AS productId,
            product_name AS productName,
            product_size AS productSize,
            storage_temperature AS storageTemperature
        FROM product
        WHERE product_id = #{productId}
    </select>

    <!--  입고 요청 반려 처리 -->
    <update id="rejectInbound">
        UPDATE inbound_table
        SET
            inbound_status = '반려',
            reject_reason_message = #{rejectReasonMessage}
        WHERE inbound_id = #{inboundId}
    </update>

    <select id="findAdminIdByUserId" resultType="int">
        SELECT admin_id
        FROM admin_table
        WHERE user_id = #{userId}
    </select>
</mapper>
