<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chilluminati.chillstock.member.outbound.repository.MemberOutboundRepository">

    <insert id="createOutboundRequest" parameterType="Integer">
        insert into outbound_table (outbound_amount, product_id) values (#{outboundAmount}, #{productId})
    </insert>

    <select id="readOutboundRequests" resultType="com.chilluminati.chillstock.member.outbound.vo.MemberOutboundVO">
        select o.outbound_id, o.outbound_date, o.outbound_request_date, o.outbound_status, o.outbound_amount, p.product_id, p.product_name, o.reject_reason_message
        from outbound_table o
                 join product p on o.product_id = p.product_id
        where p.product_id in (select product_id from product where business_id = (select business_id from business_table where user_id = #{userId}))
    </select>
</mapper>