<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chilluminati.chillstock.member.mypage.repository.MemberMypageRepo">

    <resultMap id="userWithBizMap" type="com.chilluminati.chillstock.member.mypage.vo.UserVO">
        <id property="userId" column="user_id"/>
        <result property="userLoginId" column="user_login_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
        <result property="userEmail" column="user_email"/>
        <result property="userType" column="user_type"/>

        <association property="bizVO" javaType="com.chilluminati.chillstock.nonuser.vo.BizVO">
            <result property="businessName" column="business_name"/>
            <result property="businessRegistNum" column="business_regist_num"/>
            <result property="businessAddress" column="business_address"/>
            <result property="businessPost" column="business_post"/>
        </association>
    </resultMap>

    <resultMap id="userResultMap" type="com.chilluminati.chillstock.member.mypage.vo.UserVO">
        <id column="user_id" property="userId"/>
        <result column="user_login_id" property="userLoginId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_type" property="userType"/>
    </resultMap>

    <resultMap id="bizResultMap" type="com.chilluminati.chillstock.member.mypage.vo.BizVO">
        <id property="businessId" column="business_id"/>
        <result property="businessRegistNum" column="business_regist_num"/>
        <result property="businessName" column="business_name"/>
        <result property="businessAddress" column="business_address"/>
        <result property="businessPost" column="business_post"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <!-- 기본키로 삭제하기 -->
    <delete id="deleteByUserId" parameterType="int">
        DELETE FROM user_table WHERE user_id = #{userId}
    </delete>

    <update id="updateUser">
        UPDATE user_table
        SET user_name = #{dto.userName},
            user_phone = #{dto.userPhone},
            user_email = #{dto.userEmail}
        WHERE user_id = #{userId}
    </update>

    <update id="updateBiz">
        UPDATE business_table
        SET business_name = #{dto.businessName},
            business_regist_num = #{dto.businessRegistNum},
            business_address = #{dto.businessAddress},
            business_post = #{dto.businessPost}
        WHERE user_id = #{userId}
    </update>


    <!-- 회원 정보 조회 -->
    <select id="findUserById" resultMap="userResultMap">
        SELECT
            user_id,
            user_login_id,
            user_name,
            user_phone,
            user_email,
            user_type
        FROM user_table
        WHERE user_id = #{userId}
    </select>

    <!-- 사업체 정보 조회 -->
    <select id="findBizByUserId" resultMap="bizResultMap">
        SELECT
            business_id,
            business_name,
            business_regist_num,
            business_address,
            business_post,
            user_id
        FROM business_table
        WHERE user_id = #{userId}
    </select>

    <!-- 회원 비번 변경 -->
    <update id="updateUserPassword">
        UPDATE user_table
        SET user_password = #{dto.userPassword}
        WHERE user_id = #{userId}
    </update>
</mapper>